// table of contents
// 1. reset
// 2. variables
// 3. header
// 4. app
// 5. user

// 1. reset
@import "./reset";

// 2. variables
@import "./variables";

@mixin pill($background) {
    padding: 1rem 1rem .5rem;
    margin: 1rem 1rem .5rem;
    font-size: 1.2rem;
    border-radius: 1000px;
    background-color: $background;
    color: white;
}

// 3. header
header {
    background-color: $primary-color;
    width: 100%;
    height: 250px;
    background-image: url(../images/bg-header-mobile.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

// 4. app
main {
    background-color: $neutral-color-100;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    width: 100%;
}

// 5. user
.user {
    background-color: white;
    width: 80%;
    border: $primary-color 1px solid;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    align-items: flex-start;
    flex-flow: column wrap;
}
.user-top {
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.user-company {
    color: $primary-color;
    margin: 1rem;
}
.new {
    @include pill($primary-color);
}
.featured {
    @include pill(black);
}
.user-position {
    margin: 1rem;
    font-weight: 700;
}
p {
    margin: 1rem;
    color: $neutral-color-300;
}
hr {
    margin: 1rem 0;
    width: 100%;
}
.user-language-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.user-language, .user-tool {
    font-weight: 700;
    color: $primary-color;
    background-color: $neutral-color-100;
    text-align: center;
    margin: 1rem;
    padding: 1rem .5rem .2rem;
}